* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#ac189e, #62eb53);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    padding: 40px;
}

h1 {
    font-size: 50px;
}

.name-pic-container {
    display: flex;
}

.profile-pic {
    border-radius: 80px;
    width: 120px;
    height: 120px;
}

nav {
    text-align: right;
    text-decoration: none;
    font-size: 20px; 
}

li {
    display: inline;
    margin-right: 5px;
}

.section-title{
    padding: 5px;
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

a p {
    font-size: 20px;
}

a {
    text-decoration: none;
}

.about-par {
    text-align: justify;
}

.main-project {
    display: inline-block;
} 

main {
    text-align: center;
    transition: 1s;
}


.navlink:link   {
    text-decoration: none;
    color: rgb(248, 3, 125);
}

.navlink:visited {
    color: rgb(248, 3, 125);
}

.navlink:hover {
    background-color: #f48139;
    border-radius: 5px;
    padding: 10px;
    color: black;
}



.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-container, .main-project {
    border: 5px dotted #dfe6f2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 40px;
}

#contact li {
    padding: 20px;
    background-color: rgb(33, 236, 155);
    margin: 20px;
}

#contact {
    margin: 30px;
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {

}