* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#ac189e, #62eb53);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    padding: 40px;
}

h1 {
    font-size: 50px;
}

.name-pic-container {
    display: flex;
}

.profile-pic {
    border-radius: 80px;
    width: 120px;
    height: 120px;
}

nav {
    display: flex;
    justify-content: end;
    text-decoration: none;
    font-size: 20px;   
}

li {
    display: inline;
    margin-right: 5px;
}

.navlink:link   {
    text-decoration: none;
    color: rgb(248, 3, 125);
}

.navlink:visited {
    color: rgb(248, 3, 125);
}

.navlink:hover {
    background-color: #f48139;
    border-radius: 5px;
    padding: 10px;
    color: black;
}

.section-title{
    font-size: 30px;
    margin-bottom: 10px;
}

h3 {
    position: absolute;
    font-size: 25px;
    top:0;
    left: 5px;
    border-radius: 20px;
    background-color: rgba(125, 125, 249, 0.589);
    color: #3c2152;
}
/* tells the h3 position what to be relative to*/
.main-project, .project-container {
    position: relative;
}

a {
    text-decoration: none;
}

.main-project {
    display: inline-block;
} 

main {
    text-align: center;
    transition: 1s;
}

#dogcat {
    padding-top: 80px;
}


.projects {
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
    justify-content: space-around;
      
}
.project-container {
    display: flex;
    justify-content: center;
    flex-basis: 130px;
    flex-wrap: wrap;
}

figcaption, .about-par {
    text-align: justify;
}

.project-container, .main-project, .about-par {
    border: 5px dotted #dfe6f2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 40px;
}


.about-par, .projects {
    text-indent: 1%;
    margin-left: 80px;
    margin-right: 80px;
     
}

#contact li {
    padding: 20px;
    background-color: rgb(33, 236, 155);
    margin: 20px;
}

#contact {
    margin: 30px;
}

@media  screen and (max-width: 1500px) {
     .main-project img {
        width: 1000px;
    }
}

@media screen and (max-width: 992px) {
    .main-project img {
        width: 800px;
    }

}

@media screen and (max-width: 768px) {
    .main-project img {
        width: 600px;
    }

    .main-project {
        padding: 10px;
    }

    .project-container {
        justify-content: column;
        align-items: center;
    }

}
@media screen and (max-width: 480px) {
    .main-project img {
        width: 400px;
    }

    .main-project {
        width: 420px;
    }
    .about-par {
        margin:auto;
    }

    #contact {
        background-color: hotpink;
        padding: 30px; 
        margin: 0;
    }

    #contact li {
        display: block;
        border-radius: 10px;
    }


} 